<!doctype html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pokedy</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Pokedy</a>
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="questionWrapper">
            <div class="questionItem">
                <div class="questionHeader">
                    <span>こうげき</span>
                </div>
                <div class="questionContent pokeType type<%= attack %>">
                    <span id="attackType" class="typeName" data-attack="<%= attack %>"><%= attackName %></span>
                </div>
            </div>
            <div class="questionContent">
                <span>vs</span>
            </div>
            <div class="questionItem">
                <div class="questionHeader">
                    <span>ぼうぎょ</span>
                </div>
                <div class="questionContent pokeType type<%= defense %>">
                    <span id="defenseType" class="typeName" data-defense="<%= defense %>"><%= defenseName %></span>
                </div>
            </div>
        </div>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title text-center">あなたの解答</h3>
          </div>
          <div class="panel-body">
            <div class="text-center">
                <div class="answerButtonWrapper">
                  <% if (isCorrect) { %>
                  <% var state = 'success'; %>
                  <% } else { %>
                  <% var state = 'danger'; %>
                  <% } %>
                  <button class="btn btn-<%= state %> answerButton"><%= choosed %></button>
                </div>
                <% if (isCorrect) { %>
                <div>正解!</div>
                <% } else { %>
                <div>不正解...</div>
                <div class="verifyAnswerContainer">
                  <a class="btn btn-default" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">正解を確認する</a>
                  <div class="collapse" id="collapseExample">
                    <div class="showAnswerContainer">
                      <p class><%= compat %></p>
                    </div>
                  </div>
                </div>
                <% } %>
            </div>
          </div>
        </div>

        <div class="verifyAnswer">
            <div class="text-center">
                <a href="/onetoone" class="btn btn-default next">> 次の問題へ</a>
            </div>
        </div>

    </div>

    <footer class="footer">
        <div class="container">
            <p class="text-muted">&copy; 2017 Morico All Rights Reserved.</p>
        </div>
    </footer>

    <script src="/javascripts/jquery-3.1.1.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/script.js"></script>
</body>

</html>
