<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pokedy</title>
    <link rel="stylesheet" href="/stylesheets/normalize.css">
    <link rel="stylesheet" href="/stylesheets/material.min.css">
    <script src="/javascripts/material.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <div class="questionWrapper">
      <div class="questionItem">
        <div class="questionHeader">
          <span>こうげき</span>
        </div>
        <div class="questionContent pokeType type<%= attack %>">
          <span class="typeName"><%= attackName %></span>
        </div>
      </div>
      <div class="questionContent">
        <span>vs</span>
      </div>
      <div class="questionItem">
        <div class="questionHeader">
          <span>ぼうぎょ</span>
        </div>
        <div class="questionContent pokeType type<%= defense %>">
          <span class="typeName"><%= defenseName %></span>
        </div>
      </div>
    </div>

    <div class="questionText">
      <span>効果は?</span>
    </div>

    <div class="answerWrapper">
      <form action="/onetoone/answer" method="post">
        <input type="hidden" name="attack" value="<%= attack %>">
        <input type="hidden" name="defense" value="<%= defense %>">
        <div class="answerButtonWrapper">
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect answerButton" type="submit" name="answer" value="effective">ばつぐんだ！</button>
        </div>
        <div class="answerButtonWrapper">
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect answerButton" type="submit" name="answer" value="normal">ふつう</button>
        </div>
        <div class="answerButtonWrapper">
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect answerButton" type="submit" name="answer" value="bad">いまひとつ...</button>
        </div>
        <div class="answerButtonWrapper">
          <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect answerButton" type="submit" name="answer" value="nothing">ない...</button>
        </div>
      </form>
    </div>

    <script src="/javascripts/jquery-3.1.1.min.js"></script>
    <script src="/javascripts/script.js"></script>
  </body>
</html>
